*{
    margin: 0;
    padding: 0; 
}

img {
    width: 300px;
    height: 200px;
    display: flex;
    padding: 20px;
    object-fit: cover;
    border-radius: 30px;
}
header li a {
    text-decoration: none;
    font-size: 18px;
}

header li {
    list-style: none;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(183, 156, 207);
    margin-bottom: 20px; /*  separa el header del contenido */

}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border: 2px solid rgb(30, 183, 210);
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 60px;
    box-shadow: 0 0 25px rgb(30, 183, 210);

}
img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(30, 183, 210);
    transition: all 0.3s ease;
}

.card {
    text-align: center;
    width: 300px;
}

.card p {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(40,40,40);
}

/* Bot贸n del men煤 */
.btn-menu {
    text-decoration: none;   /* Quitar subrayado */
    background-color: rgb(30, 183, 210); /* Color del bot贸n */
    padding: 10px 20px;      /* Tama帽o del bot贸n */
    border-radius: 10px;     /* Bordes redondeados */
    color: white;            /* Texto en blanco */
    font-weight: bold;
    transition: 0.3s ease;   /* Animaci贸n suave */
}

/* Hover (cuando pasas el mouse) */
.btn-menu:hover {
    background-color: rgb(22, 150, 175); /* Color m谩s oscuro */
    transform: scale(1.05);              /* Efecto de agrandarse un poco */
}
h1 {
    color:  rgb(4, 71, 85);
}
